<header>
  <h1>{{pageTitle}}</h1>
<row>
  <div class="two columns">
    <p><a href="/">Home</a></p>
  </div>
  <div class="two columns">
    <p><a href="/about">About</a></p>
  </div>
  <div class="two columns">
    <p><a href="/projects">Projects</a></p>
  </div>
  <div class="six columns">
    <p>Wololo</p>
  </div>
</row>
</header>
